.MainSpinner {
  position: absolute;
  left: 50%;
  top: 40%;
}

.UserCard {
  box-sizing: border-box;
  width: 100%;
  margin: 0 auto 30px;
  padding: 10px;
  box-shadow: 0 0 2px 0 rgba(79, 89, 101, 0.55);
  border-radius: 5px;
}

.UserImg {
  padding: 10px;
}

.UserCard img {
  width: 100%;
  border-radius: 5px;
  box-shadow: -5px 0 7px 0 rgba(110, 119, 130, 0.16);
}

.UserBio {
  padding: 5px;
}

.UserName {
  font-size: 1.4em;
  font-weight: bold;
  margin: 0;
}

.UserLogin {
  color: #666;
}

.Icon {
  display: inline-block;
  fill: #6a737d;
  position: relative;
}

.Bio {
  display: inline-block;
  padding: 0 5px;
  margin: 0;
  font-size: 14px;
  word-break: break-word;
}